# Byte-compiled / optimized / DLL files
_pycache_/
*.py[cod]
*$py.class

# Virtual Environment
myenv/
venv/
ENV/

# Django related files
*.log
db.sqlite3
*.sqlite3
*.db
*.sql

# Static files
staticfiles/
media/

# Local development settings
local_settings.py

# macOS
.DS_Store

# IDE settings
.idea/
.vscode/

# Other
*.swp
*.swo
*.swn